

*{ 
  background-color: whitesmoke; 
}

a {
  float: right;
  display: block;
  padding: 8px;
  background-color: #dddddd;
  color: black; 
}

h1{ 
float: left;
}

#profile{
width:100%; 
padding:40px; 
margin: 40px; 
background-color: yellowgreen; 
}

#section {
    width: 462px;
    background: #ebebeb;
    float: bottom;
    color: #777;
    padding: 20px 20px 20px 20px;
    margin: 0px 0 0 0;
}